<ion-view view-title="{{event.name}}" ng-controller="DjController">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="has-footer">
        <div class="item item-stable">
            <div class="card">
                <div class="item item-royal item-divider">
                    Now Playing
                </div>
                <div class="item item-avatar">
                    <img class="avatar" src="img/Blank_Space.png">
                    <h2>{{nowPlaying.title}}</h2>
                    <p>{{nowPlaying.artist}}</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-royal item-divider">
                    Up Next
                </div>
                <div class="item item-avatar">
                    <img class="avatar" src="img/DarkHorseCover.png">
                    <h2>{{upNext.title}}</h2>
                    <p>{{upNext.artist}}</p>
                </div>
            </div>
        </div>
        <div class="item item-dark item-divider">
            Suggestions
        </div>
        <div class="row no-padding">
            <div class="col no-padding">
                <div class="item item-avatar item" ng-click="popupSong(song)" ng-repeat="song in pool | alternate:true">
                    <img src="{{song.imageURL}}">
                    <h2>{{song.title}}</h2>
                    <p>{{song.artist}}</p>
                </div>
            </div>
            <div class="col no-padding">
                <div class="item item-avatar item" ng-click="popupSong(song)" ng-repeat="song in pool | alternate:false">
                    <img src="{{song.imageURL}}">
                    <h2>{{song.title}}</h2>
                    <p>{{song.artist}}</p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <h1 class="title">
            {{event.userCount}} Guests Checked In
        </h1>
    </div>
</ion-view>