<ion-view view-title="Browse Events" ng-controller="BrowseController">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Upcoming Events
            </div>
            <div class="item item-thumbnail-left" ng-click="goEvent(event)" ng-repeat="event in events | orderBy:startTime">
                <img src="{{event.imageURL}}" ng-show="event.imageURL">
                <h2>{{event.name}}</h2>
                <p>Address: {{event.location}}</p>
                <p>Time: {{event.startTime}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
