/* Empty. Add your own CSS if you like */
h1 {
    font-size: x-large;
}

.item-avatar > img:first-child {
    border-radius: 0;
}

.text-centered{
    text-align: center;
}

.no-padding {
    padding: 0;
}

